VITE_API_URL=http://localhost:8080/api
VITE_CONFLUENCE_URL=https://hubilon-platform-dev-team.atlassian.net/wiki/spaces/Y2yJ6hFKUNFK/overview

VITE_KEYCLOAK_URL=
VITE_KEYCLOAK_REALM=
VITE_KEYCLOAK_CLIENT_ID=

