# Node
node_modules/
dist/
.vite/

# Environment files
.env.development
.env.production
.env.local

# Java / Spring Boot
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.gradle/
build/
*.mv.db
*.lock.db
*.trace.db
