GEMINI_API_KEY=

# Keycloak
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=http://localhost:8080/auth/callback
KEYCLOAK_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/auth/login
KEYCLOAK_POST_LOGIN_REDIRECT_URI=http://localhost:3000
KEYCLOAK_SECURE_COOKIE=false
